@import "tailwindcss";

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #0767f8;
  --color-secondary: #115ccb;
  --color-quinary: #666666;

  --font-graphik:
    "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
}

@layer base {
  body {
    @apply font-graphik;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .container {
    @apply min-w-full px-3 py-8 lg:px-14 lg:py-12 2xl:px-72;
  }

  header.scrolled::before {
    @apply !h-full transition-all duration-300 ease-in;
  }

  .heading {
    @apply  mb-6 lg:mb-10 text-center text-[36px] lg:text-[48px] font-semibold;
  }

  .team-button-next,
  .team-button-prev {
    @apply absolute top-1/2 hidden -translate-y-1/2 cursor-pointer !bg-transparent lg:!block;
  }

  .team-button-next {
    @apply !-right-8;
  }

  .team-button-prev {
    @apply !-left-8;
  }

  .team-button-next.swiper-button-disabled,
  .team-button-prev.swiper-button-disabled {
    @apply !block opacity-50;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply bg-secondary z-50 !hidden !h-[46px] !w-[46px] cursor-pointer rounded-full lg:!block;
  }

  .swiper-button-next {
    @apply !-right-6;
  }

  .swiper-button-prev {
    @apply !-left-6;
  }

  .swiper-button-disabled {
    @apply !hidden;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    @apply hidden;
  }
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .animate-slide {
    @apply flex animate-[slide_6s_infinite] flex-col;
  }

  .animate-double-scale {
    @apply animate-[doubleScale_5s_ease-in-out_infinite];
  }

  .animate-scale {
    animation: scale-plus 5s infinite;
    animation-fill-mode: forwards;
  }

  .animate-fade-seq {
    @apply animate-[fadeSeq_6s_linear_infinite];
  }

  .anim-delay-0 {
    animation-delay: 1s;
  }

  .anim-delay-1 {
    animation-delay: 2s;
  }

  .anim-delay-2 {
    animation-delay: 3s;
  }

  .anim-delay-3 {
    animation-delay: 4s;
  }
}

@keyframes slide {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-72px);
  }
  50%,
  70% {
    transform: translateY(-144px);
  }
  75%,
  95% {
    transform: translateY(-216px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes doubleScale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(2);
  }
}

@keyframes scale-plus {
  0% {
    transform: scale(-1);
  }
  20% {
    transform: scale(-1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeSeq {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1; 
  }
  100% {
    opacity: 1; 
  }
}
